<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="uft-8">
    <title>Template Seatic</title> <!--*need to change for every webpage-->
    <meta name="author" content="Yanny">
    <meta name="description" content="My Novel Creation webpage">
  </head>
  
  <body>
    <header>
      <h1><a href="../../../main-homepage.html" title="website homepage">My Novel Creations</a></h1>
    </header>

    <nav class="sidebar with links back to nav homepages"> <!--copy only into subfolders ex. Seatic-fD1-->
      <h2><a href="../../../main-homepage.html" title="website homepage">Home</a></h2>
      <h2><a href="../../../seatic-home.html" title="homepage of Seatic">Seatic</a></h2>
      <h2><a href="../../../twist-home.html" title="homepage of The Twist">The Twist</a></h2>
      <h2><a href="../../../sympathizer-home.html" title="homepage of Sympathizer">Sympathizer</a></h2>
    </nav>
      <!--need to rearrange links for different directories-->
    
    <header class="novel header"> <!--Not shared yet-->
      <h2><a href="../../../seatic-home.html" title="homepage of Seatic">Seatic</a></h2>
    </header>

    <aside> <!--not shared yet--> <!--copy links, need to rearrange link, this one only for *same directory area-->
      <h3><a href="../character-list.html" title="main characters homepage">Characters</a></h3> <!--add appropriate links to each - all asides--> 
      <h3>World</h3>
      <h3>Storyline</h3>
      <h3>Plot</h3>
      <h3>About/Synopsis</h3>
    </aside>
      <!--Try to make movable-->

    <article> <!--not shared yet-->
    </article>
  </body>
</html>